body {
    padding: 25px;
    font-family: sans-serif;
  }
  
  .timeline {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 10px 75px 10px 75px;
    position: relative;
  }
 
  .entry {
    display: inline-block;
    vertical-align: top;
    background: #00bf71;
    color: rgba(21, 26, 53, 1);
    padding: 30px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    border-top: 10px solid #00bf71;
    border-radius: 3px;
    min-width: 100px;
    max-width: 160px;
    margin: 20px;
  }
  .entryNoSelected {
    display: inline-block;
    vertical-align: top;
    background: #cfcfd1;
    color: #06182E;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    border-top: 4px solid #06182E;
    border-radius: 3px;
    min-width: 100px;
    max-width: 160px;
    margin: 20px;
  }
  .entryCurrent {
    display: inline-block;
    vertical-align: top;
    background: #cfcfd1;
    color: rgba(21, 26, 53, 1);
    padding: 30px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    border-top: 10px solid #00bf71;
    border-radius: 3px;
    min-width: 100px;
    max-width: 160px;
    margin: 20px;
  }
  .entry .entryNoSelected .entryCurrent img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .entry:after {
    content: '';
    display: block;
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    border: 3px solid #00bf71;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
  }
  .entry:before {
    content: '';
    display: block;
    background: #00bf71;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
  }
  .entryCurrent:after {
    content: '';
    display: block;
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    border: 3px solid #00bf71;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
  }
  .entryCurrent:before {
    content: '';
    display: block;
    background: #00bf71;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
  }

  .entryNoSelected:after {
    content: '';
    display: block;
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    border: 3px solid #06182E;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
  }
  
  .entryNoSelected:before {
    content: '';
    display: block;
    background: #eee;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
  }
  
  .entry .entryNoSelected .entryCurrent h1 {
    color: #fff;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .entry .entryNoSelected .entryCurrent h2 {
    letter-spacing: .2em;
    margin-bottom: 10px;
    font-size: 14px;
  }

  @media only screen and (max-width: 750px) {
    .entry {
      padding: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }
    .entryNoSelected{
      padding: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  
  
  .bar {
    height: 4px;
    background: #00bf71;
    width: 100%;
    position: relative;
    top: 13px;
    left: 0;
  }
  .logoTimeline {
    width: 100px;
    height: 100px;
    display:block;
    margin:auto;
  }
  .img-container {
    text-align: center;
    display: block;
  }
  input[type=checkbox] {
    width: 14mm;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 14mm;
    border: 0.1mm solid black;
}

input[type=checkbox]:checked {
    background-color: lightblue;
}

input[type=checkbox]:checked:after {
    margin-left: 4.3mm;
    margin-top: -0.4mm;
    width: 3mm;
    height: 10mm;
    border: solid white;
    border-width: 0 2mm 2mm 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    display: inline-block;
}