.containerProfile{
    display: flex;
    width: 50%;
    height: 138px;
    background: rgba(217, 213, 228, 0.7);
    border-radius: 6px;
    margin-bottom: 2%;
}
.containerProfileOn{
    display: flex;
    width: 50%;
    height: 300px;
    background: #EAE8F1;
    border-radius: 6px;
    margin-bottom: 2%;
}
@media only screen and (max-width: 768px) {
    .containerProfile{
        width: 84%;
        height: 190px;
        text-align: center;
        justify-content: center;
        margin-bottom: 5%;
    }
    .containerProfileOn{
        width: 84%;
        height: 375px;
        text-align: center;
        justify-content: center;
        margin-bottom: 5%;
    }
}
.panelBody {
    align-content: center;
    margin-left: 5%;
}
.panelTitle {
    width: 80%;
    font-family: TT Norms;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    /* or 113% */
    font-feature-settings: 'liga' off;
    color: #7B788A;
    text-align: left;
}
.panelTitleOn {
    width: 80%;
    font-family: TT Norms;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    /* or 113% */
    font-feature-settings: 'liga' off;
    color: #767486;
    text-align: left;
}
.panelTitle h5{
    margin-left: 5%;
}
.panelTitleOn h5{
    margin-left: 5%;
}
.bodyTextOn {
    position: relative;
    font-size: 17px;
    color: #767486;
    width: 80%;
    left: 8%;
}
.bodyTextOn p {
    margin-left: 18%;
    margin-top: 4%;
    margin-right: 5%;
}
.buttonPanel {
    left: 18%;
}
.bodyTextOff {
    visibility: hidden;
    display: none;
}
.panelImage {
    width: 74px;
    height: 74px;
    margin-left: 10%;
}
@media only screen and (max-width: 768px) {
    .buttonPanel {
        left: 1%;
    }
    .bodyTextOn p {
        text-align: left;
        margin: 1%;
        margin-top: 4%;
    }
    .bodyTextOn {
        position: relative;
        font-size: 17px;
        color: #767486;
        width: 80%;
        left: 20%;
    }
}