.logoHeader{
    position: relative;
    width: 260px;
    height: 73px;
    margin-top: 2%;
    margin-bottom: 2%;
    left: 8%;
  }
  .headerBackground {
    position: absolute;
    background-color:rgba(21,26,53,1);
    width: 100%;
  }
  