.logoHeader{
    position: relative;
    width: 260px;
    height: 128px;
    left: 5rem;
  }
  .headerBackground {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .powered {
    position: absolute;
    left: 80%;
    color: rgba(21,26,53,1);
    margin-top: 3rem;
  }
  @media only screen and (max-width: 768px) {
    .powered {
      display: none;
    }
    .logoHeader{
      position: relative;
      width: 120px;
      height: 64px;
      margin-top: 2%;
      margin-bottom: 1rem;
      left: 2rem;
    }
  }
  