.logoFooter{
  position: relative;
  width: 52px;
  height: 48px;
  left: 5rem;
}
.textFooter{
  font-size: 12px;
  position: relative;
  left: 70%;
  color: rgba(21,26,53,1);
  margin-top: 1rem;
}
.footer {
  bottom: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 767px) {
  .textFooter{

    margin-left: -50%;
  }
}
