version: "3.7"

services:
  government-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: vidchain/government-frontend:v0.1
    container_name: government-frontend
    networks:
      - hydra_network
    ports:
      - 3022:3022
    environment:
      - REACT_APP_REDIRECT_CALLBACK=https://dev.api.vidchain.net/demo/government/callback
      - REACT_APP_IDENTITY_PROVIDER=https://dev.api.vidchain.net
      - REACT_APP_DEMO=https://dev.api.vidchain.net/demo/government
      - REACT_APP_BACKEND_URL=https://dev.api.vidchain.net/demo/governmentbackend
      - PUBLIC_URL=https://dev.api.vidchain.net/demo/government
      - REACT_APP_API_KEY=${REACT_APP_API_KEY:?Missing API_KEY variable}
      - REACT_APP_WS_URL=https://dev.api.vidchain.net
networks:
  hydra_network:
    driver: bridge
    name: hydra_oidc_network
