.subcontent {
    display:block;
    background-image:url("../../assets/images/backgroundImage.jpg");
    background-color:rgba(21,26,53,0.32);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width: 100%;
    height: 100%;
    position:absolute;
    opacity: 0.4;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  .content{
    position: relative;
    z-index: 1;
    width:100%;
    height:493px;
  }
  .title {
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 52px;
    align-self: center;
    left: 20%;
    top: 40%;
    width: 30%;
    position: relative;
  }
  .subtitle {
    font-weight: 300; 
    font-style: normal; 
    color: white; 
    font-size: 16px;
    left: 20%;
    top: 50%;
    position: relative;
  }
