.bodyLanding {
	background: rgba(21, 26, 53, 1);
	background-image: url("../../assets/images/3de15d9e-fondo-08.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-style: none none none none;
	border-color: none;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	width: 100%;
	height: 949px;
	margin-bottom: auto;
	position: relative;
	flex: auto;
	flex-direction: row;
}

.contentLanding {
	position: absolute;
	top: 15%;
}
.contentLandingItems {
	position: absolute;
	top: 100%;
}
.contentLandingFoundation {
	position: absolute;
	top: 150%;
}
.contentLandingVideo {
	position: absolute;
	top: 200%;
}
.contentLandingTutorial {
	position: absolute;
	top: 250%;
}
/* Mobile App */
@media only screen and (max-width: 768px) {
	.bodyLanding {
		background: rgba(21, 26, 53, 1);
		width: 80%;
		height: 949px;
		margin-bottom: auto;
		position: relative;
		flex: auto;
		flex-direction: row;
	}
	.contentLanding {
		position: absolute;
		top: 10%;
		text-align: center;
		margin: 5%
	}
	.contentLandingItems {
		position: absolute;
		top: 120%;
	}
	.contentLandingFoundation {
		position: absolute;
		top: 200%;
	}
	.contentLandingVideo {
		position: absolute;
		top: 260%;
	}
	.contentLandingTutorial {
		position: absolute;
		top: 310%;
	}
}
/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bodyLanding {
		width: 100%;
	}
	.contentLanding {
		position: absolute;
		left: -10%;
		text-align: center;
		margin: 5%
	}
	.contentLandingItems {
		position: absolute;
		top: 90%;
	}
	.contentLandingFoundation {
		position: absolute;
		top: 150%;
	}
	.contentLandingVideo {
		position: absolute;
		top: 200%;
	}
	.contentLandingTutorial {
		position: absolute;
		top: 260%;
	}
   }

.titleLanding{
	text-align: left;
	font-family: TT Norms;
	font-style: normal;
	line-height: 58px;
	font-feature-settings: 'liga' off;
	color: #EAE8F1;
  }
 
  .titleVideoLanding{
	text-align: center;
	font-family: TT Norms;
	font-style: normal;
	line-height: 58px;
	font-feature-settings: 'liga' off;
	color: #EAE8F1;
	position: absolute;
	left: 40%;
	top: 50%;
  }
  .imageFoundation {
	position: relative;
	margin-top: -10%;
	z-index: -10;
}
  @media only screen and (max-width: 768px) {
	.titleVideoLanding{
		position: absolute;
		left: 20%;
		top: 100%;
	  }
  }
  /* Tablet */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.titleLanding{
			text-align: left;
			position: absolute;
			left: 20%;
			top: 5%;
		  }
		  .imageFoundation {
			position: absolute;
			left: 50%;
			z-index: -10;
		}
		.titleVideoLanding{
			position: absolute;
			left: 40%;
			top: 100%;
		  }
	}
  .logoStores {
	  display: flex;
	  flex-direction: row;
	  width: 120%;
	  margin-top: 10%;
  }
  .logoStoreiOS{
	 width: 120px;
  }
  .logoStoreGoogle{
	width: 120px;
	margin-right: 5%;
 }
 .iphone {
	margin-left: 8%;
	width: 302px;
	height: 603px;
 }

 @media only screen and (max-width: 768px) {
	.iphone {
		width: 302px;
		height: 603px;
		margin-left: -8%;
	 }
	 .imageFoundation {
		position: relative;
		z-index: -10;
		margin-top: -25%;
		margin-left: -15%;
	}
 }
 .divider {
	width: 80%; 
	border: 1px solid #767486;
	margin-bottom: 5%;
 }
 .itemLogo {
	width: 100px;
	height: 100px;
 }
 .item {
	 color: #ffffff;
	 text-align: center;
 }

.video{
	width: 74px;
	height: 74px;
	margin-top: 10%;
}
.labelVideo{
	position: absolute;
	margin-top: 30%;

}
.videoDiv{
	text-align: center;
	color: #767486;
	text-decoration: none;
	font-size: 12px;
}
.bodyTextLanding {
	position: absolute;
	top: 120%;
	color: #767486;
	width: 150%;
	left: -25%;
}
@media only screen and (max-width: 768px) {
	.bodyTextLanding {
		position: absolute;
		color: #767486;
		width: 90%;
		left: 0%;
	}
	.labelVideo{
		position: absolute;
		margin-top: 40%;
		margin-left: -5%;
	}
}

.imageStartTutorial {
	z-index: -10;
	position: relative;
	right: 12%;
	margin-top: -25%;
}
@media only screen and (max-width: 768px) {
	.imageStartTutorial {
		z-index: -10;
		position: relative;
		right: 12%;
		margin-top: 0%;
	}
}
/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.imageStartTutorial {
		z-index: -10;
		position: relative;
		margin-left: 100%;
		margin-top: -50%;
	}
}

.footer{
	position: absolute;
	bottom: 0;
}
.bodyText {
	color: #767486;
}