.profileHome{
  background-color: #2F61FF;
  width: 100%;
  position: absolute;
  top: 8rem;
  height: auto;
}
.titleProfile {
  position: relative;
  width: 100%;
  left: 10%;
  top: 2rem;
}

.titleProfile h2{
  width: 100%;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}
.panels{
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  top: 3rem;
}

@media only screen and (max-width: 768px) {
  .panels{
    margin-bottom: 4rem;
  }
  .profileHome{
    top: 5rem;
    width: 90%;
  }
  .titleProfile h5 {
    width: 80%;
  }
  
  .titleProfile h2{
    width: 89%;
  }
}

