.logoHeader{
  position: relative;
  width: 150px;
  height: 28px;
  margin-top: 2%;
  margin-bottom: 2%;
  left: 10%;
  
}
.headerBackground {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.powered {
  position: relative;
  left: 60%;
  margin-top: 2%;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #767486;
}
.tutorial {
  position: relative;
  left: 18%;
  margin-top: 3%;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .powered {
    left: 20%;
    margin-top: 4%;
  }
}
