

.sign_in_vidchain {
  display: inline-block;
  width: auto;
  border-radius: 5px;
  background-color: #ed1b23;
  margin-bottom: 30px;
  margin-left: 40%;
}
.sign_in_vidchain > a {
  color: #fff !important;
  background-color: #ed1b23;
  font-size: 14px;
  text-transform: uppercase;
}
.sign_in_vidchain > a:hover,
.sign_in_vidchain > a:focus {
  background-color: #ed1b23;
  color: rgba(255, 255, 255, 0.9);
}
.sign_in_vidchain > a > i {
  padding-right: 5px;
}
.page {
  text-align: center;
}
.sedeLeft {
  padding-left: 5%;
}