/* .logoHeader{
  position: relative;
  width: 290px;
  height: 83px;
  margin-top: 5%;
  left: 50%;
  background-color: red;
} */
.logoHeader{
  position: relative;
  width: 290px;
  height: 83px;
  margin-top: 2%;
  margin-bottom: 2%;
  left: 10%;
  
}
.headerBackground {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.powered {
  position: relative;
  left: 60%;
  color: black;
}
