
  
  .containerProfile{
    position: absolute;
    width: 1221px;
    height: 498px;
    left: 109px;
    top: 513px;
    
    background: #F2F2F2;
    box-shadow: 2px 2px 12px #D6D6D6;
    border-radius: 3px;
  }