.titleProfile {
  
}

.titleProfile h1{
  width: 50%
}
.titleProfile h6{
  width: 40%;
}
.home {
  background-image: url("../../assets/images/backgroundImage.svg");
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}
