
.titleHome h2{
  margin-top: 12rem;
  margin-left: 10rem;
  width: 50%
}
.titleHome h6{
  margin-left: 10rem;
  width: 60%;
}
.buttonSignIn {
  left: 45%;
  bottom: 25%;
} 
@media only screen and (max-width: 600px) {
  .titleHome h2{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 90%
  }
}
@media only screen and (max-width: 767px) {
  .titleHome h2{
    margin-top: 6rem;
    margin-left: 2rem;
    width: 90%
  }
  .titleHome h6{
    margin-left: 2rem;
    width: 90%;
  }
  .buttonSignIn {
    position: relative;
    margin-right: 20rem;
    bottom: 20%;
  } 
}
  /* Tablet */
  @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
    .titleHome h2{
      margin-top: 15rem;
      margin-left: 5rem;
      width: 50%
    }
    .titleHome h6{
      margin-left: 5rem;
      width: 60%;
    }
    .buttonSignIn {
      left: 45%;
      bottom: 45%;
    } 
  }

.home {
  background-image: url("../../assets/images/backgroundImage.svg");
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}