
.main {
  flex-grow: 1;
  align-items: center;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.38;
  margin: 0 0 20px 0;
  padding: 0;
}
.register-button{
  align-self: center;
  background-color: #00bf71;
  color: white;
  margin-bottom: 2%;
  margin-top: 2%;
}

div.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center
 }