body {
  font-family: "TTNorms";
  background-color: #00bf71 !important;
}
.step-body-background {
  background-color: white !important;
  margin: 0;
  height: 100%;
}
.custom-container {
  width: 100%;
}
.live-products-header {
  background: #00bf71;
  text-align: center;
  width: 100%;
}
.live-products-header>p, h4 {
  color: white;
  font-size: 16px;
  padding: 10px;
  font-family: "TTNorms";
}
.logo {
  width: 360px;
}
.logoValidated {
  width: 264px;
  margin-left: 50px;
}
.center {
  display: flex;
  justify-content: center;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.step1_mobile,
.mobile_start {
  display: none;
}
.step-body p {
  color: #393939;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.42px;
  line-height: 21px;
  text-align: center;
}
.links {
  display: flex;
  justify-content: flex-start;
}
.playstore {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.step {
  display: flex;
  /* background: grey; */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.step-body .heading {
  font-weight: 700;
}
.step .heading {
  color: #393939;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}
.has-image-right {
  max-width: 600px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer {
  background: #00bf71;
  color: white;
  text-align: start;
}

.desktop_start_btn, .mobile_start_btn {
  box-shadow: 5px 5px 10px #c3c3c3;
  width: 280px;
  color: white;
  background: #00bf71;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
}