body {
  font-family: "TTNorms",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.step-body-background {
  background-color: #757575 !important;
}
.live-products-header {
  display: flex;
  justify-content: center;
}
.live-products-header>a {
  background: white;
  text-align: center;
  flex: 1;
  color: #85BF41;
  padding: 20px;
  font-size: 16px;
}
.custom-container {
  max-width: 1024px;
  margin: auto;
  padding: 42px 24px 24px 24px;
}
.logo {
  width: 170px;
}
.step1_desktop {
  margin-bottom: 50px;
}
.center {
  display: flex;
  justify-content: center;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.step1_mobile,
.mobile_start {
  display: none;
}
.step-body p {
  color: #393939;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.42px;
  line-height: 21px;
}
.links {
  display: flex;
  justify-content: flex-start;
}
.playstore {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.step {
  display: flex;
  /* background: grey; */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.step-body .heading {
  font-weight: 700;
}
.step .heading {
  color: #393939;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
}
.has-image-right {
  max-width: 600px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer .container .logo-title {
  color: rgba(255, 255, 255, 0.9);
}
.desktop_start_btn, .mobile_start_btn {
  box-shadow: 5px 5px 10px #c3c3c3;
  width: 280px;
  color: white;
  background: #85BF41;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
}