apiVersion: apps/v1
kind: Deployment
metadata:
  name: ajuntament-gava-backend-deployment
  labels:
    app: ajuntament-gava-backend
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: ajuntament-gava-backend
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: ajuntament-gava-backend
    spec:
      containers:
      - image: k8scrvidchaindev.azurecr.io/ajuntament-gava-backend:latest
        imagePullPolicy: "Always"
        name: ajuntament-gava-backend
        ports:
        - containerPort: 3021
        env:
        - name: API_URL
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: API_URL
        - name: BASE_URL
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: BASE_URL
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: PORT
        - name: REDIS_URL
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: REDIS_URL
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: REDIS_PORT
        - name: WS_URL
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: WS_URL
        - name: IDENTITY_PROVIDER
          valueFrom:
            configMapKeyRef:
              name: ajuntament-gava-backend-configmap
              key: IDENTITY_PROVIDER
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: ajuntament-gava-api-key
              key: api-key
      restartPolicy: Always
---

apiVersion: v1
kind: Service
metadata:
  name: ajuntament-gava-backend-service
  labels:
    app: ajuntament-gava-backend
spec:
  type: ClusterIP
  ports:
  - name: "9091"
    port: 9091
  selector:
    app: ajuntament-gava-backend

---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ajuntament-gava-backend-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
  - hosts:
    - dev.vidchain.net
    secretName: tls-secret-production
  rules:
  - host: dev.vidchain.net
    http:
      paths:
      - path: /demo/gaviusbackend
        backend:
          serviceName: ajuntament-gava-backend-service
          servicePort: 9091
      - path: /gaviusws
        backend:
          serviceName: ajuntament-gava-backend-service
          servicePort: 9091
