.subcontent {
  display:block;
  background-image:url("../../assets/images/backgroundAirline.png");
  background-color:white;
  background-attachment:unset;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width: 100%;
  height: 75vmin;
  position:absolute;
  opacity: 1;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content{
  position: relative;
  z-index: 1;
  top: 8rem;
  width:100%;
  height:493px;
}
.title {
  font-weight: 800;
  font-style: normal;
  color: white;
  align-self: center;
  left: 10rem;
  top: 5rem;
  width: 80%;
  position: relative;
  font-family: 'TTNorms';
  font-style: normal;
  position: absolute;
  left: 5rem;
  top: 15rem;
  width: 40%;
}
.subtitle {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300; 
  font-style: normal; 
  color: #FFFFFF; 
  position: absolute;
  left: 5rem;
  top: 25rem;
  width: 100%;
}
.buttonSignIn {
  left: 5rem;
  top: 30rem;
} 
.buttonSignInDidKeys {
  left: 25rem;
  top: 30rem;
} 
.scanTitle {
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300; 
  font-style: normal; 
  color: white; 
  margin-bottom: 2rem;
}
.QRDidKeys {
  left: 120%;
  top: 6rem;
  position: relative;
}
@media only screen and (max-height: 640px) and (max-width: 768px)  {
  .title {
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
    font-family: 'TTNorms';
    font-style: normal;
    position: absolute;
    left: 2rem;
    top: 15rem;
    width: 90%;
  }
  .subtitle {
    font-family: 'TTNorms';
    font-style: normal;
    font-weight: 300; 
    font-style: normal; 
    color: #FFFFFF; 
    position: absolute;
    left: 2rem;
    top: 22rem;
    width: 80%;
  }
  .buttonSignIn {
    position: absolute;
    left: 2rem;
    top: 28rem;
  } 
  .buttonSignInDidKeys {
    position: absolute;
    left: 2rem;
    top: 29rem;
  } 
}

@media only screen and (max-height: 640px) and (max-width: 768px)  {
  .subcontent {
    height: 80%;
    top: 2rem;
  }
  .title {
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
    font-family: 'TTNorms';
    font-style: normal;
    position: absolute;
    left: 2rem;
    top: 10rem;
    width: 90%;
  }
  .subtitle {
    font-family: 'TTNorms';
    font-style: normal;
    font-weight: 300; 
    font-style: normal; 
    color: #FFFFFF; 
    position: absolute;
    left: 2rem;
    top: 18rem;
    width: 80%;
  }
  .buttonSignIn {
    position: absolute;
    left: 2rem;
    top: 24rem;
  } 
  .buttonSignInDidKeys {
    position: absolute;
    left: 2rem;
    top: 25rem;
  } 
}
  /* Tablet */
  @media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
    .title {
      left: 2rem;
      top: 4rem;
      width: 90%;
    }
    .subtitle {
      left: 2rem;
      top: 5rem;
      width: 90%;
    }
    .buttonSignIn {
      
    } 
    .content{
      position: relative;
      z-index: 1;
      top: 5rem;
      height:593px;
    }
  }
  @media only screen and (min-width: 1501px){
    .title{
      top: 10rem;
      width: 100%;
      left: 15rem;
    }
    .subtitle{
      left: 15rem;
      top: 12rem;
    }
    .buttonSignIn {
      left: 15rem;
      bottom: 0rem;
    } 
    .buttonSignInDidKeys {
      left: 30rem;
      bottom: 0rem;
    } 
    .QRDidKeys {
      left: 150%;
      bottom: 10rem;
      position: relative;
    }

    .subcontent {
      width: 100%;
      height: 150%;
    }
  }
 

