.subcontent {
  display:block;
  background-image:url("../../assets/images/backgroundAirline.png");
  background-color:white;
  background-attachment:unset;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  width: 100%;
  height: 75vmin;
  position:absolute;
  opacity: 1;
  z-index: -1;
  top: 8rem;
}
.title {
  font-weight: 800;
  font-style: normal;
  color: #FFFFFF;
  position: relative;
  font-family: 'TTNorms';
  font-style: normal;
  position: absolute;
  left: 5rem;
  top: 15rem;
  width: 40%;
}
.subtitle {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300; 
  font-style: normal; 
  color: #FFFFFF; 
  position: absolute;
  left: 5rem;
  top: 25rem;
  width: 100%;
}
.buttonSignIn {
  position: absolute;
  left: 5rem;
  top: 35rem;
} 
.buttonSignInDidKeys {
  position: absolute;
  left: 10rem;
  top: 35rem;
} 
.QRDidKeys {
  position: absolute;
  left: 70%;
  top: 25rem;
}
.scanTitle {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300; 
  font-style: normal; 
  color: #FFFFFF; 
  margin-bottom: 2rem;
}
@media only screen and (min-height: 640px) and (max-width: 768px) {
  .subcontent {
    height: 86%;
    top: 2rem;
  }
  .title {
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
    font-family: 'TTNorms';
    font-style: normal;
    position: absolute;
    left: 2rem;
    top: 15rem;
    width: 90%;
  }
  .subtitle {
    font-family: 'TTNorms';
    font-style: normal;
    font-weight: 300; 
    font-style: normal; 
    color: #FFFFFF; 
    position: absolute;
    left: 2rem;
    top: 22rem;
    width: 80%;
  }
  .buttonSignIn {
    position: absolute;
    left: 2rem;
    top: 28rem;
  } 
  .buttonSignInDidKeys {
    position: absolute;
    left: 2rem;
    top: 29rem;
  } 
}

@media only screen and (max-height: 640px) and (max-width: 768px)  {
  .subcontent {
    height: 80%;
    top: 2rem;
  }
  .title {
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
    font-family: 'TTNorms';
    font-style: normal;
    position: absolute;
    left: 2rem;
    top: 10rem;
    width: 90%;
  }
  .subtitle {
    font-family: 'TTNorms';
    font-style: normal;
    font-weight: 300; 
    font-style: normal; 
    color: #FFFFFF; 
    position: absolute;
    left: 2rem;
    top: 18rem;
    width: 80%;
  }
  .buttonSignIn {
    position: absolute;
    left: 2rem;
    top: 24rem;
  } 
  .buttonSignInDidKeys {
    position: absolute;
    left: 2rem;
    top: 25rem;
  } 
}
