
.home {
  background-image: url("../../assets/images/backgroundImage.png");
  background-repeat:no-repeat;
  background-size: cover; 
  background-position: center center;  
  height: 80vmin;
  position: absolute;
  width: 100%;
  top: 10%;
}
.title {
  font-weight: 800;
  font-style: normal;
  color: #151A35;
  position: relative;
  font-family: 'TTNorms-Bold';
  font-style: bold;
  position: absolute;
  left: 5rem;
  top: 10rem;
  width: 40%;
}
.subtitle {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300; 
  font-style: normal; 
  color: #151A35; 
  position: absolute;
  left: 5rem;
  top: 20rem;
  width: 40%;
}
.buttonSignIn {
  position: absolute;
  left: 5rem;
  top: 10rem;
} 